.home {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #0f1413;
        position: relative;
        top: 70px;

        > *{
            width: 100%;
            height: calc(100vh - 70px);
        }
    }
}  
.home::-webkit-scrollbar { /* WebKit */
    display: none;
}