.App {
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 45px);
        background-color: #121212;
        position: relative;
        top: 45px;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}